torch==2.4.1+cu124
torchvision
torchaudio
--extra-index-url https://download.pytorch.org/whl/cu124

accelerate
transformers
trl
datasets
hf-transfer
bitsandbytes

wandb

# notebook
jupyter
ipykernel
matplotlib
seaborn

